@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css?family=Notable|Teko&display=swap');
font-family: 'Notable', sans-serif;

font-family: 'Notable', sans-serif;
font-family: 'Teko', sans-serif;


.body{
    background:rgba(143, 163, 201, 0.61);
}
.login-body{
    background-image:url(../images/heading-banner.jpg);
    background-position: center;
    background-size: cover;

}
.register-body{
    background-image:url(../images/heading-banner.jpg);
    background-position: center;
    background-size: cover;
}
.login-page-container{
    min-height: 75vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.login-title >h1{
    font-family: 'Notable', sans-serif;
    color:rgba(206, 72, 31, 0.9);
}
.login-title > p{
    font-family: 'Notable', sans-serif;
    color:rgba(206, 72, 31, 0.9);
}
.register-title >h1{
    font-family: 'Notable', sans-serif;
    color:rgba(206, 72, 31, 0.9);
}
.form-container{
    width:500px;
    background-color: beige;
    border-radius: 5px;
    padding: 2rem;
}
label{
    font-family: 'Teko', sans-serif;
    font-size:2rem;

}
.sign-in-btn{
    font-size:1.5rem;
    font-family: 'Teko', sans-serif;
    background-color:rgba(206, 72, 31, 0.9);
}
.sign-up{
    font-family: 'Teko', sans-serif;
}